<section class="artistpage">
    <br>
    <header><h1 class="col-xs-offset-4">Iceberg Movies</h1></header>
    <div class="row artistpage col-xs-offset-4">
        <div class="col-xs-3">
            <h3>Movies Page: {{ currentPage }}</h3>
        </div>

        <div class="col-xs-3">
            <label for="search">Search:</label>
            <input id="search" ng-model="searchText.title" class="form-control" placeholder="Filter text">
            <div ng-show="searchText.title.length === 0 ||  searchText.title.length < 3 || searchText.title == ''" ><h4>Enter at least three characters to begin search</h4></div>
        </div>
        <div class="col-xs-3">
            <label for="items">items per page:</label>
            <input id="items" type="number" min="1" max="getMovies().movies.length" class="form-control"
                   ng-model="pageSize">
        </div>

        <div class="col-xs-4" >
            <h3 ng-show="filtered.length > 0">Matched {{filtered.length}} of {{getMovies().movies.length}} Movies total</h3>
        </div>
    </div>
    <br>

    <div class="panel panel-default panelBody col-xs-offset-2">
        <div class="panel-body">
            <div class="col-xs-8 col-xs-offset-3" >
                <h3 class="text-danger" ng-show="filtered.length === 0">No matching items</h3>
            </div>
            <ul class="artistlist">
                <li ng-animate="'animate'" class="artist cf col-xs-offset-3"
                    dir-paginate="movie in filtered = (getMovies().movies | filter: {title:filterText}) | orderBy: 'title' | itemsPerPage: pageSize"
                    total-items="getMovies().totalItems" current-page="currentPage">

                    <div class="info">
                        <h4 class="text-primary"> Title: {{movie.title}}</h4>
                        <h5>Year Released:{{movie.year}}</h5>
                        <h5 ng-hide="searchText.title.length > 3 ">Rating: {{movie.rating}} </h5>
                        <h5 ng-hide="searchText.title.length > 3 ">Duration: {{movie.duration }}</h5>

                        <div ng-hide="searchText.title.length > 3 " ng-repeat="actor in movie.actors.list">
                            <h5 class="text-warning"> actor: {{actor.name}}</h5>
                        </div>
                    </div>


                </li>

            </ul>
        </div>
    </div>
    </div>

    <div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="js/lib/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>

    <footer> Now TV, All Rights Reserved</footer>

</section>